body {
  background-color: #c2c2c2;
}

.title {
  color: #444;
  text-align: center;
}

.rodape {
  background-color: #ddd;
  color: #444;
  text-align: center;
  font-size: 24px;
  padding: 16px;
  margin-top: 5px;
}

.cabecalho {
  background-color: #ddd;
  color: #444;
  padding: 1px;
}

.navbar-nav .nav-link.active {
  color: #fff;
}

.nav-link {
  text-align: center;
}

.cabecalho {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.cabecalho h1 {
  text-transform: uppercase;
  font-style: italic;
}

section {
  padding-top: 70px;
}
